a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #ffffff;
}

/* Main Layout CSS */
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container always fills the viewport */
}

.main-content {
  flex: 1; /* Allows the content to take up all available space */
}

/* Footer Styling */
.fixed-footer {
  background-color: #000000;
  color: white;
  padding: 20px 10px;
  text-align: center;
  font-size: 14px;
}


/* Responsiveness for small screens */
@media (max-width: 600px) {
  .fixed-footer {
    font-size: 12px;
  }
  .css-vnkrmi-MuiGrid-root{
    margin-right: 0px !important;
  }
}

