/* Scroll to Top Button */
.scroll-to-top {
  position: fixed;
  bottom: 40px; /* Ensures visibility above footer */
  right: 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000; /* Keeps it above other elements */
}

.scroll-to-top:hover {
  background-color: #f1f1f1; /* Light gray hover effect */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

/* Hiding button when not visible */
.scroll-to-top.hidden {
  display: none;
}

/* Footer Responsiveness */
@media (max-width: 600px) {
  .scroll-to-top {
    width: 35px;
    height: 35px;
    bottom: 80px; /* Adjust position for mobile screens */
    right: 15px;
  }

  /* Adjust grid padding and width */
  /* .MuiGrid-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  } */

  .fixed-footer {
    font-size: 12px;
  }

  /* Ensure no extra space in footer */
  .MuiGrid-container {
    padding: 0;
    margin: 0 auto;
  }

  .MuiBox-root {
    padding: 10px;
  }
}
