/* Reset body and html styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box; /* Ensure consistent box-sizing */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Ensures full height usage */
}

/* This makes sure that the content takes up the available space */
.app-content {
  flex: 1;
}

/* Footer Styles */
footer {
  margin-top: auto; /* Push the footer to the bottom */
}

@media (max-width: 768px) {
  /* Mobile-specific styling */
  .app-content {
    padding: 20px; /* Add padding to the content for small screens */
  }
}
